.title{
	margin: 0;
	height: 39 px;
	font-size: 36px;
	text-align: center;
	font-family: "helvetica";

}

.title-secundario{
	font-size: 30px;
}

.title-secundario-red{
	color: red;

}

.title-terciario{
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.span-title-terciario{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;

}
.parrafo{
	font-size: 14px;
	color:#858585;
	text-align: center;

}

.bajada{
	font-size: 1.2em;
	color: #858585;
    line-height: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.icono{
	font-size: 58px;
	color: #5E5E5E;
}

.p-box{
	background-color: #f0f0f0;
	padding: 20px 10px;
	margin: 0;
	font-size: 13px;
	color: #777777;
	font-family: 'Source Sans Pro', sans-serif;
}


